@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input, textarea {
  font-family: inherit;

}
input:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

:root {
  
  /* Colors */

  --primary-text-color: #7B61FF;
  --secondary-text-color: #3F3F3F;
  --btn-accent-color: #ffffff;

  --title-text-color: #1C1B1F;
  --description-text-color: #49454F;

  --primary-background-color: #ffffff;
  --secondary-background-color: rgba(255, 255, 255, 0.8);
  --header-background-color: #fefcff;

  --error-validation-color: #FF2B77;

  --priority-medium-text-color: #E2A300;
  --priority-high-text-color: #FF2B77;
  --priority-low-text-color: #6BD475;

  --btn-hover-background: #6243FF;
  --btn-disabled-background: #ACA7C3;

  --input-placeholder-color: #888888;

  --border-color: #aca7c3;

  
  /* Shadow colors */

  --primary-shadow: 2px 4px 9px 0px rgba(166, 141, 174, 0.28);
  --property-shadow: 4px 5px 9px 0px rgba(166, 141, 174, 0.28);
  --calendar-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.07);
}
